body {
  background-image: url(https://pixnio.com/free-images/2019/07/21/2019-07-21-18-00-23-1200x675.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #d46c15;
  /* sistema hexa 0-9 A B C D E F */
}

h1 {
  color: rgb(68, 204, 245);
}
h2 {
  color: rgb(180, 68, 245);
}

.liEspecial {
  font-style: italic;
}

.tamanio {
  font-size: 40px;
  color: #d41515;
}

#elMejorLi {
  font-weight: bold;
}

div {
  width: 300px;
  height: 300px;
  border: 3px solid #000;
}
